$title-pt: 32pt;

$h1-pt: 24pt;
$h2-pt: 20pt;
$h3-pt: 16pt;
$h4-pt: 14pt;
$h5-pt: 12pt;

$paragraph-big-pt: 16pt;
$paragraph-md-pt: 14pt;
$paragraph-sm-pt: 12pt;

$caption-pt: 10pt;

$btn-big-pt: 12pt;
$btn-sm-pt: 10pt;
