$title-lh: 36pt;

$h1-lh: 27pt;
$h2-lh: 22pt;
$h3-lh: 17pt;
$h4-lh: 16pt;
$h5-lh: 14pt;

$paragraph-big-lh: 22pt;
$paragraph-md-lh: 20pt;
$paragraph-sm-lh: 18pt;

$caption-lh: 20pt;

$btn-big-lh: 20pt;
$btn-sm-lh: 20pt;
