@import "../../../styles/colors.scss";
@import "../../../styles/element-colors.scss";

.side-bar {
  background-color: $dark-background;
  display: flex;
  flex-direction: column;
  .nav {
    flex: 1;

    .nav-item {
      display: flex;
      line-height: 42pt;
      color: $blue-gray;
    }
    .active {
      background-color: $dark-background-hovered;
    }
    .Reports {
      flex: 1;
    }
  }
}
