.container-fluid {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: stretch;

  .side-bar {
    width: 20%;
  }

  .page {
    width: 80%;
    background-color: #f3f5f7;

    .page-header {
      .page-header-nav {
        background-color: #ffffff;
        height: 55px;
        line-height: 55px;
        display: flex;
        justify-content: space-between;
        ul {
          display: flex;
          margin: 0;
          padding: 0;

          padding-left: 25px;

          li {
            display: block;
            margin-right: 30px;
          }
        }

        .generate-button {
          margin-right: 25px;
        }
      }
      .page-header-content {
        padding-left: 25px;
      }
    }

    .page-content {
      padding-left: 25px;
    }
  }
}
